<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<div  className="Titule-container">
            <h1>Mette Business Principal</h1>
        </div>

	</body>
</html>